/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/img/photos/servicios/
/public/img/photos/sliders/
/public/img/photos/empresas/
/public/img/photos/imagenes_estaticas/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
